RPC_URL=
PRIVATE_KEY=
CONTRACT_ADDRESS=
SEA_ADDRESS=0x00005EA00Ac477B1030CE78506496e8C2dE24bf5
FEE_RECIPIENT=0x0000a26b00c1F0DF003000390027140000fAa719
QTY=1
MINT_PRICE_ETH=0

# === SCHEDULER CONFIG ===
SCHEDULED_MINT=true
MINT_TIME=YYYY-MM-DDTHH:mm:00+07:00 # JANGAN HAPUS HURUF 'T'
TIMEZONE=Asia/Jakarta

#DELAY
DELAY_SEC=0.1
JITTER_SEC=0.2

#JIKA GAGAL / MINT BLM LIVE
RETRIES=100          # berapa kali retry kalau gagal (default 100)

#SOLANA private key
SECRET_KEY_B58=
